<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/proIntroduce.css}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script type="text/javascript" th:src="@{/js/proIntroduce/proIntroduce.js}" defer ></script>
</head>

<body layout:fragment="content">

<div class="total">
<div class="scrollContent">
    <article class="proPageHeader">
        <h1>Professional Introduce</h1>
    </article>
    <section class="proItem">
        <div id="item1">
            <div class="pure-g">
                <div class="proarray">
                    <div>
                        <img class="introduceImg" src="/img/proIntroduce/testImg1.jpg">
                    </div>
                </div>
                <div class="proarray">
                    <div class="description">
                        <h1><strong>비숑한마리</strong></h1>
                        <div class="context-box">
                            <p class="icon-header"><i class="iconset-caret-right"></i> 경력사항</p>
                            <ul class="list-clr">
                                <li>비숑은 정말 귀엽다</li>
                                <li>비숑은 정말 깜찍하다</li>
                                <li>비숑을 키우고 싶다</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="proItem">
        <div id="item2">
            <div class="pure-g">
                <div class="proarray">
                    <div>
                        <img class="introduceImg" src="/img/proIntroduce/testImg2.jpg">
                    </div>
                </div>
                <div class="proarray">
                    <div class="description">
                        <h1><strong>비숑두마리</strong></h1>
                        <div class="context-box">
                            <p class="icon-header"><i class="iconset-caret-right"></i> 경력사항</p>
                            <ul class="list-clr">
                                <li>비숑은 정말 귀엽다</li>
                                <li>비숑은 정말 깜찍하다</li>
                                <li>비숑을 키우고 싶다</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="proItem">
        <div id="item3">
            <div class="pure-g">
                <div class="proarray">
                    <div>
                        <img class="introduceImg" src="/img/proIntroduce/testImg3.jpg">
                    </div>
                </div>
                <div class="proarray">
                    <div class="description">
                        <h1><strong>비숑세마리</strong></h1>
                        <div class="context-box">
                            <p class="icon-header"><i class="iconset-caret-right"></i> 경력사항</p>
                            <ul class="list-clr">
                                <li>비숑은 정말 귀엽다</li>
                                <li>비숑은 정말 깜찍하다</li>
                                <li>비숑을 키우고 싶다</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="proItem">
        <div id="item4">
            <div class="pure-g">
                <div class="proarray">
                    <div>
                        <img class="introduceImg" src="/img/proIntroduce/testImg4.jpg">
                    </div>
                </div>
                <div class="proarray">
                    <div class="description">
                        <h1><strong>비숑네마리</strong></h1>
                        <div class="context-box">
                            <p class="icon-header"><i class="iconset-caret-right"></i> 경력사항</p>
                            <ul class="list-clr">
                                <li>비숑은 정말 귀엽다</li>
                                <li>비숑은 정말 깜찍하다</li>
                                <li>비숑을 키우고 싶다</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="proItem">
        <div id="item5">
            <div class="pure-g">
                <div class="proarray">
                    <div>
                        <img class="introduceImg" src="/img/proIntroduce/testImg5.jpg">
                    </div>
                </div>
                <div class="proarray">
                    <div class="description">
                        <h1><strong>비숑다섯마리</strong></h1>
                        <div class="context-box">
                            <p class="icon-header"><i class="iconset-caret-right"></i> 경력사항</p>
                            <ul class="list-clr">
                                <li>비숑은 정말 귀엽다</li>
                                <li>비숑은 정말 깜찍하다</li>
                                <li>비숑을 키우고 싶다</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="proItem">
        <div id="item6">
            <div class="pure-g">
                <div class="proarray">
                    <div>
                        <img class="introduceImg" src="/img/proIntroduce/testImg6.jpg">
                    </div>
                </div>
                <div class="proarray">
                    <div class="description">
                        <h1><strong>비숑여섯마리</strong></h1>
                        <div class="context-box">
                            <p class="icon-header"><i class="iconset-caret-right"></i> 경력사항</p>
                            <ul class="list-clr">
                                <li>비숑은 정말 귀엽다</li>
                                <li>비숑은 정말 깜찍하다</li>
                                <li>비숑을 키우고 싶다</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="proItem">
        <div id="item7">
            <div class="pure-g">
                <div class="proarray">
                    <div>
                        <img class="introduceImg" src="/img/proIntroduce/testImg7.jpg">
                    </div>
                </div>
                <div class="proarray">
                    <div class="description">
                        <h1><strong>비숑일곱마리</strong></h1>
                        <div class="context-box">
                            <p class="icon-header"><i class="iconset-caret-right"></i> 경력사항</p>
                            <ul class="list-clr">
                                <li>비숑은 정말 귀엽다</li>
                                <li>비숑은 정말 깜찍하다</li>
                                <li>비숑을 키우고 싶다</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
</body>

</html>
