<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/main_include_footer_layout}">

<head>
	<meta charset="UTF-8">
	<title></title>
	<!--여기에 적용하실 css 나 js 작성하시면 됩니다. 아래는 예시들 입니다. -->

	<!-- <link rel="stylesheet" th:href="@{/css/파일이름.css}"> -->
	<!-- <script type="text/javascript" th:src="@{/js/search/search.js}"></script>-->
	<link rel="stylesheet" th:href="@{/css/mainPage.css}">
	<link rel="stylesheet" th:href="@{/css/mainpage_header_footer.css}">
	<script src="https://kit.fontawesome.com/5b1091f816.js" crossorigin="anonymous"></script>
</head>
<body layout:fragment="content">
<div class="r-main">

	<div class="r-search">
		<div class="r-search-text">
			<input type="text" placeholder="지역,지하철,건물명,학교명으로 검색하세요">
			<div class="r-icon-circle">
				<i id="icon" class="fa-solid fa-magnifying-glass"></i>
			</div>
		</div>
	</div>

	<div class="r-main-title-text">
		<p>
			어디 원해 한남동?
		</p>
	</div>

	<div class="r-button-menu">
		<a href="#">
			<div class="r-button-menu-icon1">
			</div>
			실거래가조회
		</a>
		<a href="#">
			<div class="r-button-menu-icon2">
			</div>
			매물등록
		</a>
		<a href="#">
			<div class="r-button-menu-icon3">
			</div>
			커뮤니티
		</a>
		<a href="/news">
			<div class="r-button-menu-icon4">
			</div>
			부동산뉴스
		</a>
		<a href="#">
			<div class="r-button-menu-icon5">
			</div>
			고객센터
		</a>
	</div>
	<div class="r-empty">

	</div>
</div>
<div class="n-background"></div>
</body>
</html>
