<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/include_footer_layout}">
<head>
    <meta charset="UTF-8">
    <title>공지글 보기</title>
</head>
<body layout:fragment="content">

<div class = "layout">

    <table border="1">
        <tr>
            <td>분류</td>
            <td>제목이 들어갈 자리 입니다.</td>
            <td>날짜 자리!!!</td>
        </tr>
        <tr>
            <td colspan="3">
                내용이 들어갈 자리
            </td>
        </tr>
    </table>
</div>

</body>
</html>