<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<footer th:fragment="tFooter" >
		<div class="r-footer">
			<div class="r-footer-wrap">
				<div class="r-footer-a">
					<a href="#">
						광고/제휴/기업매물
					</a>
					<a href="#">
						이용약관
					</a>
					<a href="#">
						개인정보처리방침
					</a>
					<a href="#">
						매물관리정책
					</a>
					<a href="#">
						위치기반 이용약관
					</a>
					<a href="#">
						책임한계
					</a>
					<a href="#">
						원격지원
					</a>
					<div class="r-footer-icon">
						<a href="https://www.instagram.com/_yujin_an/">
							<img src="/sc/sns_insta.png" alt="">
						</a>
						<a href="https://www.facebook.com/moonbyun1/">
							<img src="/sc/sns_facebook.png" alt="">
						</a>
						<a href="https://www.youtube.com/watch?v=NaBLJpjiqh0&t=1553s">
							<img src="/sc/sns_youtube.png" alt="">
						</a>
						<a href="https://twitter.com/bts_bighit?lang=ko">
							<img src="/sc/sns_twiter.png" alt="">
						</a>
					</div>
				</div>
				<div class="r-footer-text-wrap">
					<div class="r-footer-text1">
						㈜아파트사조
						대표 이우진 외 6인 ::
						서울 강남구 테헤란로10길 9(역삼동)
					</div>
					<div class="r-footer-text2">
						사업자 등록번호 000-00-00000 ::
						프로젝트제작일 2023-서울강남-02001 ::
						TEL1 010-3491-0910 ::
						TEL2 010-3491-0910
					</div>
					<div class="r-footer-text3">
						ⓒ RealtyPlanet Co., Ltd. All rights reserved.
					</div>
				</div>
			</div>
		</div>
	</footer>

</html>