<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/no_footer_layout}">

<head>
	<meta charset="UTF-8">
	<title></title>
	<!--여기에 적용하실 css 나 js 작성하시면 됩니다. 아래는 예시들 입니다. -->

	<!-- <link rel="stylesheet" th:href="@{/css/파일이름.css}"> -->
	<!-- <script type="text/javascript" th:src="@{/js/search/search.js}"></script>-->

</head>
<body layout:fragment="content">


</body>
</html>
