@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

.sticky-chat-modal {
  position: sticky;
  bottom: 50px;
  display: flex;
  justify-content: end;
  margin-right:30px;
  margin-bottom:15px;
  z-index: 1000;
}

/*모달*/
.s-chat-connect-button {
    border: none;
    background-color: transparent;
}
.s-chat-connect-button img {
    width: 70px;
}

.s-chatbox {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background-color: #fff;
}


.s-chat-closebox {
    background: #E2E2E2;
    border-bottom: 1px solid #d8d8d8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}

.s-chat-closebox span {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    bottom: 3px;
    color: #222;
}


.s-chat-close {
    background: url("/sc/free-icon-close-6276642.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    position: relative;
    top:1px;
    left: 190px;
    cursor: pointer;
}

.s-chat-close:active {
    filter: brightness(0.9);
}

.s-chat-textbox {
    height: 425px;
    width:100%
    margin: 5px;
    overflow-y: auto;
}

.s-chat-message {
    padding: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    flex-wrap : wrap;
}

.s-chat-nickname {
    font-weight: bold;
    font-size: 15px;
}
.s-chat-time {
    font-size: x-small;
}

.s-chat-text {
    font-size: 14px;
}

.s-chat-message p {
    margin: 0;
}

.s-chat-sendbox {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    position: relative;
}

.s-chat-sendbox #s-chat-input-img{
    position: absolute;
    right: 12px;
    bottom: 4px;
    height: 20px;
}

.s-chat-sendbox textarea {
    width: 338px;
    padding: 0;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    box-shadow: .5px 1px 5px .5px #d8d8d8;
    outline: none;
    resize: none;
    height: 62px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}