<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>thymeleaf layout</title>
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<!-- content script -->
	<th:block th:replace="~{fragments/config::configFragment}"> </th:block>

</head>
<!--	<th:block layout:fragment="css"></th:block>-->
<link rel="stylesheet" th:href="@{/css/header_footer.css}">

	<!-- content script -->
<!--	<th:block layout:fragment="script"></th:block>-->
<body>


	<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

    <th:block layout:fragment="content"></th:block>

	<div class="sticky-chat-modal">
		<th:block th:replace="~{fragments/chat :: chatModalFragment}"></th:block>
	</div>

	<th:block th:replace="~{fragments/footer :: tFooter}"></th:block>


</body>
</html>